<!DOCTYPE html>
<html lang="en">
<head>
     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_book.css' %}">
    <link rel="stylesheet" type="text/js" href="{% static 'js/new_book.js' %}">
    <script>

    </script>
    <title>Book Review Login and Register</title>
</head>
<body>
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">UR - Fave - Books</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <form action="/books/create" method="post">
            {% csrf_token %}
            <!-- TITLE -->
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Title</span>
                </div>
                <input type="text" name="title" class="form-control">
            </div>
            <!-- AUTHOR -->
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Book Author</span>
                </div>
                <select name="author" id="">
                    <option value="None">N/A</option>
                    {% for author in authors %}
                    <option value="{{ author.author_name }}">{{ author.author_name}}</option>
                    {% endfor %}
                </select>
            </div>
                <!-- New AUTHOR -->
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Book Author</span>
                </div>
                <input type="text" name="inputed_author" class="form-control">
            </div>

                <!-- REVIEW -->
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Review</span>
                </div>
                <input type="text" name="review" class="form-control">
            </div>
            
            <!-- RATING -->
            <select name="rating" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="hidden" name="user_id" value="{{ request.session.user_id }}">
            <input type="submit" name="submit" value="Add New Book"  class="btn btn-lg btn-outline">
            
            <!-- <input type="hidden" name="current_user_name" value="{{ request.session.current_user.name }}"> -->
        </form>
    </div>
</body>
</html>