<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <title>Welcome to URFaveBooks!</title>
    <style>
    .navbar{
        background-color: #3f2f23;
        padding: 20px;
        width: 1700px;
        color: #f1e7d6;
     }
    .navbar-LOGO{
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        color: #f1e7d6;
         margin-right: 880px;
    }
    a{
        color: #f1e7d6;
    }
    .card{
        display: inline-block;
        margin: 30px;
    }
    .card-title{
        margin-bottom: 0px;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <h1 class="navbar-LOGO">UR - Fave - Books</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
               
                <ul class="navbar-nav">
                <!-- HOME BUTTON -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'Books:Success' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                <!-- CREATE A BOOK BUTTON -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'Books:Create' %}"> Create a Book 
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                <!-- DROPDOWN / PROFILE / RECENT BOOKS / YOUR BOOKS/  -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Recent Reviews</a>
                            <a class="dropdown-item" href="#">Your Books</a>
                        </div>
                    </li>

                <!-- LOGOUT BUTTON -->
                    <li class="nav-item active">
                        <form action="logout" method="post">
                            {% csrf_token %}
                            <input type="submit" name="logout" value="logout">
                        </form>
                    </li>
               
                </ul>
            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Success! Welcome, {{ current_user.first_name }}</h1>
               
            </div>
        </div>

    <div class="container-fluid">
        <!-- BOOKS -->
        {% for book in books %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="media/{{book.book_covers}}" alt="{{ books.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5> 
                <small class="text-muted">By: {{ book.author.author_name }}</small>
                <p class="card-text">{{ reviews.rating }} Make it average book rating</p>
            </div>
        
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ reviews.text }}</li>
            </ul>
            
            <div class="card-body">
                <!-- <a href="#" class="card-link"></a> -->
                <a href="display/{{book.id}}" class="card-link">See More Reviews!</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>